
/* ----------- INDEX PAGE -----------*/
  
  /* HERO IMAGE AT TOP OF PAGE*/

.hero-container {
  overflow: hidden;
  position: relative;
  max-height: 30vh; /* Réduction de la hauteur maximale */
  height: 30vh; /* Réduction de la hauteur */
  max-width: 1200px; /* Largeur maximale du conteneur */
  margin: 0 auto; /* Centrer le conteneur */
  padding: 0 10px; /* Ajout de marge intérieure */
}

/* HERO BANNER - Réduction de la hauteur */
.hero-banner {
  background: url('tps.png') center/cover no-repeat;
  height: 300px; /* Réduction de la hauteur */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fffb00;
  font-size: 1.5rem; /* Taille du texte ajustée */
  font-weight: bold;
  font-family: "fantasy", "Lucida Console", monospace;
  text-shadow: 4px 4px 8px #00113c;
}


/* FLAG IMAGE - Ajustement de l'image pour la taille réduite */
.flag-image {
  width:0%;
  height: auto; 
  max-height: 30vh; /* Hauteur maximale pour s'adapter */
}

/* FOOTER - Visible en bas */

.footer {
      background-color: #0a215d; /* Exemple de couleur verte */
      color: white;
      text-align: center;
      padding: 5px;
      position: relative; /* Pour qu'il reste à sa position naturelle */
      width: 100%; /* Prend toute la largeur */
    }
    
.container {
  position: relative;
  text-align: center;
  color: #00113c;
  margin: 0 10px;
}


/* PAGE STRUCTURE - Assurer que le footer reste en vue */
html, body {
  height: 100%; /* Utilisation de toute la hauteur de la page */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1; /* Le contenu principal occupe l'espace restant */
}


.dynamic-text {
  animation: slideUp 10s forwards, fadeOut 20s forwards;
  text-align: center;
  font-style: italic;
  color: #00113c
}

/* Animation de bas en haut */
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* === transition texte ===*/

@keyframes slideUp {
    from {
      transform: translateY(80%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

@keyframes slideDown {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(80%);
      opacity: 0;
    }
  }

  .slide-up {
    animation: slideUp 5s forwards;
  }

  .slide-down {
    animation: slideDown 30s forwards;
  }



